#visuals-main-container {
	position: relative;
	-webkit-box-sizing: border-box;
	padding-left: 5px;
	padding-top: 3px;
	padding-right: 5px;
	height: calc(100vh - 3.5rem);
	width: calc(100% - 0px);
	background-color: transparent;
	overflow: auto;
	color: #848484;
}

#visuals-reload {
	position: relative;
	-webkit-box-sizing: border-box;
	padding-top: .25rem;
	padding-left: 5px;
	padding-right: 5px;
	height: 2.8rem;
	width: 100%;
	background-color: transparent;
	overflow: hidden;
	text-align: center;
	font-size: .8rem;
	line-height: 1.6rem;
}

.visuals-section {
	margin: 0;
	color: #848484;
}

.visuals-section-header {
	text-align: center!important;
	font-size: .6rem;
	font-style: italic;
	border-bottom: 0px dotted #848484!important;
	margin-bottom: 2em;
}

.visuals-section-content {
	padding: 0px!important;
	margin: 0px!important;
	padding-top: .5rem;
	font-size: 1rem;
	text-align: center!important;

}

.jqx-expander-header-content {
	padding-top: .30rem!important;
	display: inline-block!important;
	float: none!important;
}



.visuals-image {
	margin: 0px;
	width: 100%;
	border-radius: .3rem;
	margin-bottom: .3rem;
	opacity: 0;
	max-width: 18rem;
	cursor: pointer;
}

.kaleidoscope-image-label {
	display: block;
	margin-bottom: 2em;
	margin-left: auto; 
	margin-right: auto; 
	font-size: 0.75em;
	text-align: center;
	max-width: 18rem;
}


#kaleidoscope-image-holder {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 3.8rem); /* 7.5 */
	overflow-y: hidden;
	border-radius: .3rem;
	background: rgba(163, 192, 202, 0.20);
}

#kaleidoscope-image-a, #kaleidoscope-image-b {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	border-radius: .3rem;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	cursor: pointer;
}

#kaleidoscope-image-b {
	position: relative;
	bottom: calc(100vh - 3.8rem); /* 7.5 */
}


#kaleidoscope-pause-icon {
	background: transparent;
	color: white;
	border-radius: 1em;
	font-family: Font Awesome;
	width: 1em;
	height: 1em;
	text-align: center;
	text-shadow: 0px 0px 5px black;
	margin: 0 auto;
	position: absolute;
	top: .75em;
	right: .75em;
	display: none;
	font-size: 1em;
	line-height: 1em;
	opacity: .4;
}

#visuals-kaleidoscope .visuals-section-header {
	display: none;
}